@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$Body-font: 'Open Sans', sans-serif;
$Heading-font: 'Poppins', sans-serif;
$Grey: rgb(53, 107, 100);
$Dark-Grey: rgb(46, 46, 46);
$Light-Grey:rgb(138, 138, 138);
$Very-Dark-Cyan:hsl(192,100%,9%);
$Very-Pale-Blue:hsl(207,100%,98%);
$White: #fff;